{% extends 'base.html' %}


{% block content %}

<div class="library">
    <h1>View Library</h1>
    <br>
    <p>Below is the library of tones:</p>

    <br>

<table>
    <tr>
        <th>Product Name</th>
        <th>Brand</th>
        <th>Shade</th>
        <th>Category</th>
        <th>Average Price</th>
        <th>Skin Color</th>
        <th>Hair Color</th>
        <th>Eye Color</th>
        
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.product_name }}</td>

        <td>{{ product.brand }}</td>
        <td>{{ product.shade}}</td>
        <td>{{ product.category}}</td>
        <td>{{ product.price}}</td>

        <td>
            {% for color in product.colors %}
                <button class="color-button" style="background-color: {{ color.skin_color }}">{{ color.skin_color }}</button>
            {% endfor %}
        </td>
        <td>
            {% for color in product.colors %}
                <button class="color-button" style="background-color: {{ color.hair_color }}">{{ color.hair_color }}</button>
            {% endfor %}
        </td>
        <td>
            {% for color in product.colors %}
                <button class="color-button" style="background-color: {{ color.eye_color }}">{{ color.eye_color }}</button>
            {% endfor %}
        </td>

    </tr>
    {% endfor %}
</table>

</div>

{% endblock %}
