<style>
    body {
        background-image: url("{{ url_for('static', filename='homepage.jpg') }}");
        background-size: 2000px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }
</style>

{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="form-title">User Registration</h1>
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}
        <form class="registration-form" method="POST" action="/register">
            <label class="form-label" for="email">Email:</label>
            <input class="form-input" type="email" name="email" required>

            <label class="form-label" for="password">Password:</label>
            <input class="form-input" type="password" name="password" required>

            <label class="form-label" for="fname">First Name:</label>
            <input class="form-input" type="text" name="fname" required>

            <label class="form-label" for="lname">Last Name:</label>
            <input class="form-input" type="text" name="lname" required>

            <input class="btn-submit" type="submit" value="Register">
        </form>
    </div>
{% endblock %}
