{% extends 'base.html' %}

{% block content %}

<div class="login-container">  
    <h1>Search</h1>

    <form method="POST" action="/search">
        <table>
            <tr>
                <th>Skin Color</th>
            </tr>
            <tr>
                <td>
                    {% for tone in skintone_hexcode %}
                    <label>
                        <input type="checkbox" name="skin_color" value="{{ tone }}"> 
                        <span class="color-swatch" style="background-color: {{ tone }};"></span> {{ tone }}
                    </label><br>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <th>Hair Color</th>
            </tr>
            <tr>
                <td>
                    {% for tone in hair_color_hexcodes %}
                    <label>
                        <input type="checkbox" name="hair_color" value="{{ tone }}"> 
                        <span class="color-swatch" style="background-color: {{ tone }};"></span> {{ tone }}
                    </label><br>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <th>Eye Color</th>
            </tr>
            <tr>
                <td>
                    {% for tone in eye_color_hexcodes %}
                    <label>
                        <input type="checkbox" name="eye_color" value="{{ tone }}"> 
                        <span class="color-swatch" style="background-color: {{ tone }};"></span> {{ tone }}
                    </label><br>
                    {% endfor %}
                </td>
            </tr>
        </table>

        <input type="submit" value="Search">
    </form>
</div>  

{% endblock %}
