<style>
    body {
        background-image: url("{{ url_for('static', filename='homepage.jpg') }}");
        background-size: 2000px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }
</style>

{% extends 'base.html' %}

{% block content %}
<div class="login-container">
    <h1>Upload Your Tones and Favorite Products</h1>
    <form action="/library/upload" method="post" enctype="multipart/form-data">
        <label for="skin_color" style="font-size: 16px;">Skin Color:</label>
        <select id="skin_color" name="skin_color" required style="font-size: 16px;">
            <option value="#FFF4E1">#FFF4E1:Fair</option>
            <option value="#FCE5D8">#FCE5D8:Porcelain</option>
            <option value="#F8E0C8">#F8E0C8:Ivory</option>
            <option value="#F5D0A9">F5D0A9:Sand</option>
            <option value="#ECCBAE">#ECCBAE:Beige</option>
            <option value="#D9B99B">#D9B99B:Golden</option>
            <option value="#C7A17A">#C7A17A:Honey</option>
            <option value="#AF8D5F">#AF8D5F:Bronze</option>
            <option value="#8D6E4C">#8D6E4C:Almond</option>
            <option value="#6C5434">#6C5434:Chestnut</option>
            <option value="#4E3522">#4E3522:Deep</option>
            <option value="#3C2415">#3C2415:Ebony</option>
        </select><br>

        <label for="hair_color" style="font-size: 16px;">Hair Color:</label>
        <select id="hair_color" name="hair_color" style="font-size: 16px;">
            <option value="#000000">#000000:Black</option>
            <option value="#1A1A1A">#1A1A1A:Dark Brown</option>
            <option value="#4F2B0C">#4F2B0C:Chocolate Brown</option>
            <option value="#6B4421">#6B4421:Auburn</option>
            <option value="#7B4B26">#7B4B26:Chestnut Brown</option>
            <option value="#A52A2A">#A52A2A:Red</option>
            <option value="#954535">#954535:Blonde</option>
            <option value="#C04000">#C04000:Platinum Blonde</option>
        </select><br>

        <label for="eye_color" style="font-size: 16px;">Eye Color:</label>
        <select id="eye_color" name="eye_color" style="font-size: 16px;">
            <option value="#000000">#000000:Black</option>
            <option value="#1A1A1A">#1A1A1A:Dark Brown</option>
            <option value="#4F2B0C">#4F2B0C:Chocolate Brown</option>
            <option value="#0D98BA">#0D98BA:Blue</option>
            <option value="#006400">#006400:Green</option>
            <option value="#B2BEB5">##B2BEB5:Gray</option>
        </select><br>

        <h2>Favorite Product Details</h2>

        <label for="product_name">Product Name:</label>
        <input type="text" id="product_name" name="product_name" required><br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required><br>

        <label for="shade">Shade:</label>
        <input type="text" id="shade" name="shade" required><br>

        <label for="category">Category:</label>
        <input type="text" id="category" name="category" required><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50"></textarea><br>

        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand" required><br>


        <label for="product_image">Product Image:</label>
        <input type="file" id="product_image" name="product_image" accept="image/*"><br>

        <input type="submit" value="Upload">
    </form>

</div>

{% endblock %}